.container {
    
    text-align: center;
   
}

.mac {

    text-align: center;
    width: 80%;
    justify-content: center;

}   

.screen {
    border:30px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: #eeeeee;
    color: black;
    /* min-height: 500px; */
    /* min-width: 800px; */
    
}

.leg {
    
    
    /* box-shadow: 2px 2px black; */
    
}

.leg1 {
    width: 20%;
    background-image: linear-gradient(#e7e2e2, #b7b3b3);
    height: 70px;
    margin: auto;
}

.leg2 {
    border-radius: 10px 10px 0 0;
    margin: auto;
    width: 30%;
    height: 10px;
    background-image: linear-gradient(#ede3e3, #d8cdcd);
    border-bottom: 5px solid #F2F1F1;
}
