<h1>
  A<span style="color: #ea4335">v</span>
  <span style="color: #fbbc05; font-weight: 300">r</span>
  <span style="color: #34a853; font-weight: 200">i</span>
  <span style="font-weight: 100">k</span>
  <span style="font-weight: 100; font-size: 14px">.com</span>
</h1>

<input
  (input)="onInputChange($event)"
  #inp
  [(ngModel)]="searchStr"
  class="autocomplete"
  action="completeArr"
  autocomplete="on"
  type="search"
  placeholder="Search for skill, field, technology?"
  name=""
  id=""
  autofocus
/>

<div class="cards-grid">
  <app-card *ngFor="let card of filteredCards" [card]="card"></app-card>
</div>

<!-- <select id="cars">
  <option value="volvo">Red</option>
  <option value="saab">Green</option>
  <option value="opel">Blue</option>
  <option value="audi">Audi</option>
</select>

<canvas #chart [data]="data" id="myChart" width="400" height="400"></canvas> -->

<!-- <p style="opacity: 0.5; font-size: 11px">hint : 'who are you?'</p> -->
