<header>
  <h1>
    A<span style="color: #ea4335">v</span>
    <span style="color: #fbbc05; font-weight: 300">r</span>
    <span style="color: #34a853; font-weight: 200">i</span>
    <span style="font-weight: 100">k</span>
    <span style="font-weight: 100; font-size: 14px">.com</span>
  </h1>

  <input
    (input)="onInputChange($event)"
    #inp
    [(ngModel)]="searchStr"
    class="autocomplete"
    action="completeArr"
    autocomplete="on"
    type="search"
    placeholder="Search for skill, field, tool, technology ..."
    name=""
    id=""
    autofocus
  />

  <span class="slider-container">
    <div class="slider-text">
      <p>UI/UX</p>
      &
      <p>Frontend</p>
      &
      <p>Backend</p>
      &
      <p>Fullstack</p>
      &
      <p>Devops</p>
    </div>
    <input
      #slider
      type="range"
      step="1"
      min="0"
      max="4"
      value="4"
      class="slider"
      id="myRange"
      (change)="onSlider(slider.value)"
    />
  </span>
</header>

<div class="cards-grid">
  <app-card
    *ngFor="let card of filteredCards"
    @hideShow
    [card]="card"
    (click)="onCardClick(card)"
  ></app-card>
</div>
