:host {
  // padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: 100%;

  header {
    position: fixed;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1 {
      text-align: left;
      font-size: 6em;
      font-weight: 600;
      color: #4285f4;
      margin: 2px;
      letter-spacing: 0;
    }

    .autocomplete {
      width: 50%;
      background: white;
      border-radius: 25px;
      box-shadow: 1px 2px 4px 0px rgb(32 33 36 / 28%);
      cursor: text;
      font-size: 16px;
      height: 50px;
      transition: none;
      border: 1px solid #d970d6;
      padding: 10px 30px;
      outline: none;

      &::placeholder {
        opacity: 0.3;
      }
    }

    .slider-container {
      width: 50%;
      .slider-text {
        display: flex;
        justify-content: space-between;
      }

      .slider {
        width: 100%;
      }
    }
  }

  .cards-grid {
    width: 100%;
    box-shadow: inset 1px 3px 5px 2px #0000000f;
    margin-top: 260px;
    height: calc(100vh - 260px);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }
}
