<div class="container">
  <!-- <button routerLink="/game1">2015-2016</button>
  <button routerLink="/spa">2017-2018</button> -->

  <ul>
    <!-- <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li> -->

    <span *ngFor="let item of data" style="display:flex;line-height: 10px;">
      <small class="title">{{item}}</small>
      
    </span>

  </ul>

  <!-- <div class="icon-container">
    <div>
      <svg class="section-icon mouse-icon" viewBox="0 0 19 47">
        <path d="M9.5,19L9.5,19c0.3,0,0.5-0.2,0.5-0.5v-13C10,5.2,9.8,5,9.5,5h0C9.2,5,9,5.2,9,5.5v13C9,18.8,9.2,19,9.5,19z"></path>
        <circle class="scroll-mouse-icon" cx="9.5" cy="10.5" r="3"></circle>
        <path d="M9.5,0C4.3,0,0,4.3,0,9.5v13C0,27.7,4.3,32,9.5,32s9.5-4.3,9.5-9.5v-13C19,4.3,14.7,0,9.5,0z M18,22.5 c0,4.7-3.8,8.5-8.5,8.5C4.8,31,1,27.2,1,22.5v-13C1,4.8,4.8,1,9.5,1C14.1,1,18,4.8,18,9.5V22.5z"></path>
      </svg><svg class="section-icon arrow-section-icon" viewBox="0 0 19 47">
        <path d="M17.9,38.1c-0.2-0.2-0.5-0.2-0.7,0l-7.7,7.7l-7.7-7.7c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7l8.1,8.1 C9.2,47,9.4,47,9.5,47s0.3,0,0.4-0.1l8.1-8.1C18.1,38.6,18.1,38.3,17.9,38.1z"></path>
      </svg>
    </div>
  </div> -->
</div>