.container {
    text-align: center;
}

.mac {
    text-align: center;
    width: 80%;
    justify-content: center;
}

.screen {
    overflow: auto;
    border:5px solid white;
    border-radius: 20px;
    padding: 5px;
    background-color: #eeeeee;
    color: black;
    min-height: 400px;
    min-width: 200px;
    box-shadow: 2px 1px 5px 3px #00000036;
}

.content {
    height: 80%;
    background-color: black;
    position: absolute;
    top: 7%;
    width: 92%;
}

.top-panel {
    height: 7%;
    width: 92%;
    background-color: white;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 2%;
    font-weight: bolder;

}

.bottom-panel {
    height: 10%;
    width: 92%;
    background-color: white;
    border-radius: 0 0 10px 10px;
    bottom: 2%;
    position: absolute;
    font-size: 50px;
    font-weight: 100;
    opacity: 0.2;
    line-height: 30px;
}