.drpdown {
    display: flex;
    /* padding-right: 3em; */
    border: 1px solid #ece6e6;
    /* width: 150px; */
    border-radius: 4px;
    justify-content: space-between;
}

.title {
    background-color: #ffd580;
    padding: 2px 5px;
    margin: 5px 0;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: inset 0px -1px 1px #0000001a;
    justify-content: space-between;
    display: flex;
}
input {
    padding: 10px 10px;
    border: 0;
    outline-width: 1px;
    font-size: 14px;
    width:100%;
}

.drpdown-butn {
    width: 2em;
    text-align: center;
    padding-right: 5px;
    color: #848484;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    padding: 6px 2px;
}