

.container {
    position: fixed;
    /* z-index: 9999; */
    width: 100%;
    height: 50px;
    background-color: #222222;
    /* padding: 0px 20px; */
    box-shadow: 0px 2px 4px #0000000a;
    top:0;
    
}

.banner {
    width: 200px;
    height: 80px;
    background-image: linear-gradient(0deg, #e55934, #c54724);
    margin: 5px;
    line-height: 45px;
    text-align: center;
    border-radius: 0 0 5px 5px;
    z-index: 999;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.33);

}

.title {
    margin: 0;
    width: inherit;
    word-break: break-all;
    padding: 5px 0;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    /* font-family: Helvetica; */
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.title2 {
    /* padding: 10px; */
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    color: rgb(160, 28, 28);
    line-height: 15px;
    letter-spacing: 13px;
}


.triangle-topleft {
	width: 0;
	height: 0;
	border-top: 35px solid #e55934;
	border-right: 130px solid transparent;
}

.triangle-topright {
	width: 0;
	height: 0;
	border-top: 35px solid #e55934;
	border-left: 130px solid transparent;

}